@import url('https://fonts.googleapis.com/css?family=Spartan');

body{
    font-family: 'Spartan';
    background-image: url('/assets/images/bg-pattern-top-desktop.svg');
    background-repeat: no-repeat;
    background-position: left;
}
@media screen and (max-width: 991px){
    body{
        background-image: url('/assets/images/bg-pattern-top-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
    }
}
.top-heading{
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

.top-description{
    color: hsl(303, 10%, 53%);
}

.icons-list{
    list-style-type: none;
    list-style: none;
    margin-top: 3px;
    display: flex;
    flex-wrap: nowrap;
}
.icons-list .icon{
    display: inline;
}
.review-cards-col{
    padding-left: 150px;
}
.review-cards-col .row #review-card{
    border-radius: 10px;
    max-height: 50px;
}
.review-cards-col .row:nth-child(2n+0){
    padding: 30px 0 10px 45px;
}
.review-cards-col .row:nth-child(3){
    padding: 20px 0 0 90px;
}
#review-card .card-body{
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px -10px -10px;
    background-color: hsl(300, 24%, 96%);
}
.icons-list .icon img{
    width: 17px;
    height: 16px;
}
.card-body div .icons-list{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.icons-list .icon{
    margin: 0 5px 0 5px;
}
#review-card .card-body div .card-title{
    margin-left: 30px;
    margin-top: 5px;
    color: hsl(300, 43%, 22%);   
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (min-width:992px) and (max-width:1200px){
    .review-cards-col{
        padding-left: 0px;
    }   
}
@media screen and (max-width:991px) and (min-width:768px){
    .review-cards-col .row:nth-child(n){
        padding: 20px 0 20px 0px;
    }
    .review-cards-col{
        margin-left: -50px;
    }
}

@media screen and (max-width:767px){
    .review-cards-col .row:nth-child(n){
        padding: 20px 0 20px 0px;
    }
    .review-cards-col{
        margin-left: -75px;
    }
    .review-cards-col .row #review-card{
        max-height: 80px;
    }
    .icons-list{
        float: none;
    }
}
@media screen and (max-width: 499px){
    #review-card .card-body div .card-title{
        font-size: 15px;
    }
    #review-card .card-body{
        margin: -48px -48px -48px -48px;
        max-height: 100px;
    }
    .review-cards-col .row #review-card{
        padding: 40px 0 40px 0;
    }
}

@media screen and (max-width: 357px){
    #review-card .card-body div .card-title{
        font-size: 10px;
    }
}
